<!DOCTYPE html>
<html>
    <head>
        <title>BoCloud</title>
        <link rel="stylesheet" type="text/css" href="base.css">
    </head>
    <body>
        <div id='nav-top'>
            <div>BoCloud</div>
            <div class='tab'><a href='/'>monitor</a></div>
            <div class='tab' id='button-latest'>latest</div>
            <div class='tab'>freeze</div>
        </div>
        <table id='table-reads' class='table-dragable'>
            <tr class='tr-title'><th colspan='6'>Reads</th></tr>
            <tr class='tr-desc'>
                <th>device_id</th>
                <th>device</th>
                <th>sensor_id</th>
                <th>sensor_type</th>
                <th>value</th>
                <th>timestamp</th>
            </tr>
            <tabledata ID="ALL">
        </table>
    </body>
    <script src='base.js'></script>
</html>
