<!DOCTYPE html>
<html>
    <head>
        <title>BoCloud</title>
        <link rel="stylesheet" type="text/css" href="base.css">
    </head>
    <body>
        <button id='button-latest'>latest</button>
        <button>freeze</button>
        <table id='table-reads' class='table-dragable'>
            <tr><th colspan='4'>Reads</th></tr>
            <tr>
                <th>device</th>
                <th>sensor</th>
                <th>value</th>
                <th>timestamp</th>
            </tr>
            <tabledata ID="ALL">
        </table>
        <table id='table-sensors' class='table-dragable'>
            <tr>
                <th>this</th>
                <th>is</th>
                <th>a</th>
                <th>movable</th>
                <th>table</th>
            </tr>
        </table>
    </body>
    <script src='base.js'></script>
</html>
