<!DOCTYPE html>
<html>
    <head>
        <title>BoCloud</title>
        <link rel="stylesheet" type="text/css" href="base.css">
    </head>
    <body>
        <button id='button-latest'>latest</button>
        <button>freeze</button>
        <table id='table-all' class='table-dragable'>
            <tr>
                <th>device</th>
                <th>data</th>
                <th>timestamp</th>
            </tr>
            <tabledata ID="ALL">
        </table>
        <table id='table-device-01' class='table-dragable'>
            <tr>
                <th>device</th>
                <th>waterlevel</th>
                <th>value-status</th>
                <th>timestamp</th>
            </tr>
        </table>
    </body>
    <script src='base.js'></script>
</html>
