* {
    background-color:   #121212;
    color:              #EEEEEE;
}
::-webkit-scrollbar {
    width: 8px;
    background-color:   #121212;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #707070;
}

table, th, td {
    border-spacing: 0;
}

table {
    max-height: 506px;
    border: 1px solid #707070;
    display: block;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #202020;
}

table::-webkit-scrollbar {
    display: hidden;
    width: 0px;
}

th {
    padding: 2px;
    border: 1px solid #707070;
    background-color: #555555;
}

.tr-title {
    position: sticky;
    top: 0;
}

.tr-desc {
    position: sticky;
    top: 24px;
}

td {
    padding: 2px;
    border: 1px solid #707070;
    background-color: #202020;
}

button {
    color: #888888;
    font-weight: bold;
}

#button-latest {
    color: #EEEEEE;
}
