* {
    /*
    background-color:   #121212;
    color:              #EEEEEE;
    */
}

body {
    background-color:   #121212;
    color:              #EEEEEE;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background-color:   #121212;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #707070;
}

table, th, td {
    border-spacing: 0;
}

table {
    max-height: 506px;
    border: 1px solid #707070;
    display: block;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #202020;
}

table::-webkit-scrollbar {
    display: hidden;
    width: 0px;
}

table button {
    position: absolute;
    top: 1px;
    right: 1px;
}

th {
    padding: 2px;
    border: 1px solid #707070;
    background-color: #555555;
}

.tr-title {
    position: sticky;
    top: 0;
}

.tr-desc {
    position: sticky;
    top: 24px;
}

td {
    padding: 2px;
    border: 1px solid #707070;
    background-color: #202020;
}

button {
    color: #888888;
    background-color:   #121212;
    font-weight: bold;
}

#button-latest {
    color: #EEEEEE;
}

#nav-top {
    padding: 4px;
    border: 1px solid #707070;
    background-color: #555555;
}

#nav-top div {
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

#nav-top .tab {
    padding: 3px;
    font-size: 18px;
    background-color: #404040;
}

.tab a {
    text-decoration: none;
    color: #EEEEEE;
}
