* {
    background-color:   #121212;
    color:              #EEEEEE;
}

table, th, td {
    border-collapse: collapse;
}

table {
    border: 1px solid #333333;
    display: block;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    height: 350px;
    background-color: #202020;
}

table:hover {
    border: 1px solid #999999;
}

table::-webkit-scrollbar {
    display: hidden;
    width: 0px;
}

th {
    padding: 2px;
    border: 1px solid #777777;
    background-color: #555555;
}

td {
    padding: 2px;
    border: 1px solid #777777;
    background-color: #202020;
}
